@import "./reset.scss";

$grey: #cacdcd;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bcbfbf;
}

.phone {
  width: 390px;
  height: 90%;
  background-color: $grey;
  box-shadow: 5px 10px 10px rgba($color: #000000, $alpha: 0.5);
  border-radius: 10px;
  overflow-y: scroll;
}

.header {
  padding: 50px 15px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__title {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.total {
  background-color: black;
  padding: 30px 15px;
  color: $grey;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 22px;
  gap: 10px;

  .total__price {
    font-weight: bold;
  }

  .total__subtitle {
    font-size: 14px;
  }
}

.items {
  background-color: #c6caca;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .item {
    border-top: 5px solid black;
    position: relative;
  }
}

.item__info {
  background-color: #d7dbdb;
  padding: 30px 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  .item__info-row {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &:nth-child(2) {
      align-items: flex-end;
    }

    .item__title {
      font-size: 38px;
    }

    .item__subtitle {
      font-size: 14px;
    }

    .item__total-price {
      font-size: 34px;
    }

    .item__piece-price {
      font-size: 18px;
    }
  }
}

.item__specs {
  background-color: #d7dbdb;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;

  .spec {
    display: flex;
    padding: 30px;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;

    &:last-child {
      border-left: 3px solid black;
    }
  }
}

.item__photo {
  position: absolute;
  width: 40%;
  height: 60%;
  border: 3px solid black;
  right: 15px;
  bottom: 0px;
  object-fit: cover;
}
